<div class="container">
  <div class="jumbotron">
    <a href="/bright_ideas">Back to Bright Ideas</a>

    <p>Name: <%= @user.name%></p>
    <p>Alias: <%= @user.alias%></p>
    <p>Email: <%= @user.email%></p>


    <h2>________________________________________________________________</h2>

    <p>Total Number of Post: <%= @user.ideas.count %></p>
    <p>Total Number of Likes: <%= @user.likes.count %></p>

  </div>

</div>
